*.class

# Package Files #
*.jar
*.war
*.ear

*/bin
*bin
*.bin
*bin

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
/Visualization of Zones in TLTS/nbproject/private/